OPENROUTER_API_KEY=YOUR_API_KEY
CANNSIM_SOC_VERSION=Ascend950 # soc version for cannsim to use
CANNSIM_SETENV_PATH=/opt/miniconda3/Ascend/cann/set_env.sh
CONDA_BIN=/opt/miniconda3/bin/conda # Already existing if using docker container
CONDA_ENV=compilerclaw # Already existing if using docker container
KERNEL_EPISODES_DB=/opt/moziflux/episodes.db
KERNEL_SANDBOX_ROOT=/opt/moziflux/datasets/KernelBench_Triton
REMOTE_VERIFY_HOST=HOSTNAME_FOR_REMOTE_A5_MACHINE
REMOTE_VERIFY_USER=USERNAME_FOR_REMOTE_A5_MACHINE
REMOTE_VERIFY_PASS=PASS_FOR_REMOTE_A5_MACHINE
REMOTE_VERIFY_CONDA_ENV=CONDA_ENV_IN_REMOTE_WITH_TRITON_ASCEND
REMOTE_VERIFY_BASE_DIR=~/kernel_verify
REMOTE_VERIFY_CANN_ENV=PATH_TO_CANN_SETENV_IN_REMOTE
HERMES_ENABLE_PROJECT_PLUGINS=true # Must be set for plugins to be detected
